@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

    

body{
    background-color:rgb(32, 27, 46);
    margin-left: -150px;
    font-weight: 500;
    margin-right: -10px;
}

h1{
    font-size: 50px;
    font-family:Oxanium;
    text-align: center;
    margin-left: 500px;
    margin-top: 270px;
    color: white;
}

p{
    font-family:Oxanium;
    margin-top: 40px;
    margin-left: 500px;
    margin-right: 300px;
    color:#b9b6b6;
    font-size: 20px;
    margin-right: 350px;
}

.navbar {
    background-color: #7b7b7bac;
    position:fixed;
    margin-left: 500px;
    width: 810px;
}

.menu {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    display: flex;
}

.menu li {
    flex: 1;
}

.menu a {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s;
    font-family: Oxanium;
}

.menu a:hover {
    background-color: #575757;
}

#Separador{
    border-top: 2px solid #6c6868; /* Color y grosor de la línea */
    width: 49%; /* Ancho de la línea */
    align-items: center;
    margin-top: 150px;
    margin-left: 500px;
}

#imgprincipal{
    margin-left:20px;
    margin-top: 250px;
    border: 5px solid #99999900;
    border-radius: 50%;
    width: 250px;
}

#contenedor{
    display: flex ;
   align-items: center;
    gap: 10px;
   background: linear-gradient(to top,rgb(32, 27, 46),  #100d1a);
   padding-bottom:0px;
   margin-top: -10px;

}

#button{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #4791e1;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 500px;
    margin-bottom: 60px;
    margin-top: -50px;
    font-family: Poppins;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

#button:hover{
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); /* Añade una sombra */
}

#seccion2{

    
}

h2{
    font-size: 50px;
    font-family: Oxanium;
    margin-left: 500px;
    color: white;
    margin-top: 200px;

}

#textoab{
    margin-top: 20px;
    margin-left: 500px;
    font-family:Oxanium;
    color: #b9b6b6;

}

.timeline {
    position: relative;
    width: 2px;
    background-color: #565555; /* Color de la línea */
    height: 200vh; /* Altura de la línea */
    margin: 0 auto; /* Centra la línea */
    margin-left: 500px;
}
.timeline .point {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 25px;
    height: 25px;
    background-color: #333; /* Color del punto */
    border-radius: 50%; /* Hace el punto circular */
}
.point1 { top: 10%; }
.point2 { top: 30%; }
.point3 { top: 50%; }
.point4 { top: 70%; }

h3{
    font-size: 35px;
    color: white;
    font-family: Oxanium;
    margin-left: 40px;
    margin-right: -700px;
    margin-top: -15px;
}

#buttonSK{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: rgb(174, 169, 169);
    background-color: #2a2a2a;
    border: 1px solid   #575757;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 40px;
    margin-top:0px;
    font-family: Poppins;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

#buttonSK:hover{
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.853); /* Añade una sombra */
}

#textoSK{
    font-family: Poppins;
    margin-left: 40px;
    margin-top: 0px;
    margin-bottom: 20px;
    white-space: nowrap;
    color: #b9b6b6;

}

#img2{
    width: 400px;
    margin-left: 40px;
    border: 5px solid #999;
    border-radius: 20px;

}

#buttonSK-{
    display: inline-block;
    padding: 15px 30px;
    font-size: 16px;
    color: rgb(174, 169, 169);
    background-color: #2a2a2a;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 40px;
    margin-top:30px;
    font-family: Poppins;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    white-space: nowrap;
    border: 1px solid   #575757;
}
#buttonSK-:hover{
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.853); /* Añade una sombra */
}


.timeline-{
    position: relative;
    width: 2px;
    background-color: #565555; /* Color de la línea */
    height: 50vh; /* Altura de la línea */
    margin: 0 auto; /* Centra la línea */
    margin-left: 400px;

}
h4{
    font-size: 35px;
    color: white;
    font-family: Oxanium;
    margin-left: 500px;
    margin-top: 60px;
}

#textoot{
    font-family: Oxanium;
    margin-left: 500px;
    margin-top: 0px;
    margin-bottom: 20px;
    white-space: nowrap;
    color: #b9b6b6;
}

#buttonot{
    display: inline-block;
    padding: 15px 30px;
    font-size: 16px;
    color: rgb(174, 169, 169);
    background-color: #2a2a2a;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 500px;
    margin-top:30px;
    font-family: Poppins;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    white-space: nowrap;
    border: 1px solid   #575757;

}
#buttonot:hover{
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.853); /* Añade una sombra */
}

#buttonig{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: rgb(174, 169, 169);
    background-color: #2a2a2a;
    border: 1px solid   #85b3d9;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 500px;
    margin-top:0px;
    font-family: Poppins;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;

}
#buttonig:hover{
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.853); /* Añade una sombra */
}

#buttongh{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: rgb(174, 169, 169);
    background-color: #2a2a2a;
    border: 1px solid  #85b3d9;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 20px;
    margin-top:0px;
    font-family: Poppins;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;

}
#buttongh:hover{
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.853); /* Añade una sombra */
}

#buttonlin{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: rgb(174, 169, 169);
    background-color: #2a2a2a;
    border: 1px solid   #85b3d9;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 20px;
    margin-top:0px;
    font-family: Poppins;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}
#buttonlin:hover{
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.853); /* Añade una sombra */
}

#buttonyt{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: rgb(174, 169, 169);
    background-color: #2a2a2a;
    border: 1px solid   #85b3d9;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 20px;
    margin-top:0px;
    font-family: Poppins;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

#buttonyt:hover{
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.853); /* Añade una sombra */
}

#seccion4{
    margin-left: 500px;
    margin-right: 420px;
    margin-top: 50px;
    border: 1px solid   #9e9e9e;
    border-radius: 30px;
    background-color: #999999;
    display: flex;
    width: 785px;
    
}

#buttonmail{
    display: inline-block;
    padding: 20px 20px;
    text-align: center;
    font-weight: bold;
    width: 300px;
    font-size: 20px;
    color: white;
    background-color: #707070;
    border: 1px solid   rgb(119, 118, 118);
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 20px;
    margin-top:20px;
    margin-bottom: 20px;
    display: flex;
    gap:20px;
    font-family: Oxanium;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

#buttonsend{
    display: inline-block;
    padding: 20px 20px;
    font-weight: bold;
    width: 170px;
    font-size: 20px;
    color: white;
    background-color: #7797e8;
    border: 1px solid   rgb(119, 118, 118);
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 160px;
    margin-top:20px;
    margin-bottom: 20px;
    margin-right: 20px;
    display: flex;
    gap: 20px;
    font-family: Oxanium;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;

}


#textfoot{
    font-family: Poppins;
    margin-left: 780px;
    margin-top: 100px;
    margin-bottom: 20px;
    white-space: nowrap;
    color: #b9b6b6;
    font-weight: 700;   
}


@media (max-width: 768px) {
    body{
        margin-right: -1000px;
    }
        
        /* Ajusta otros estilos específicos para este tamaño */
    }
    #contenedor{

       background-size: cover;
        white-space: nowrap;
        background: linear-gradient(to top,rgb(32, 27, 46),  #100d1a);
        
        
    }

    h1{
        margin-left: 430px;
        font-size: 200px; 
    }

    #imgprincipal{
        width: 0px;
    }
    
    

    #textoab{
        font-size: 80px;
        margin-left: -200px;
        margin-right: -300px;
    }

    #seccion2{
        margin-left: 40px;
    }

  
       
    
 
    header{
        
    }
    p {
        font-size: 15px;
       
    }
     #separador{
        width: 100%;
        margin-left:400px ;
        }
    .navbar {
        width:100%;
        margin-left: 100px; 
        font-size: 80px;  
    }

    .menu {
        display: flex;
        align-items: center; /* Centrar elementos del menú */
    }

    .menu li {
    ; /* Cada elemento del menú ocupa el 100% del ancho */
        text-align: center; 
        
    }

    
    #button {
        padding: 10px; /* Ajustar el relleno del botón */
        font-size: 14px; /* Tamaño de fuente más pequeño para el botón */
        margin: auto; /* Centrar el botón */
    }

    h2 {
        font-size: 100px;
        text-align:left; /
        margin-left: 500px;    }

    h3 {
        font-size: 80px; /* Tamaño de fuente más pequeño para h3 */
        text-align:left; /* Centrar texto */
        white-space: nowrap;
        margin-left: 500px;
    }

    #textoab {
        margin-left: 400px; /* Ajustar márgenes */
        text-align: left; /* Centrar texto */    
}

.timeline-{
    position: relative;
    width: 100px;
    background-color: #565555; /* Color de la línea */
    height: 200vh; /* Altura de la línea */
    margin: 0 auto; /* Centra la línea */
    margin-left: 400px; }

    .timeline .point {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 50px;
        height: 50px;
        background-color: #333; /* Color del punto */
        border-radius: 50%; /* Hace el punto circular */
    }
    .point1 { top: 10%; }
    .point2 { top: 20%; }
    .point3 { top: 30%; }
    .point4 { top: 40%; }

#textoSK{
    font-size: 70px;
    margin-left: 400px;
}

#buttonSK{
    
        display: inline-block;
        padding: 15px 30px;
        font-size: 16px;
        color: rgb(174, 169, 169);
        background-color: #2a2a2a;
        border-radius: 5px;
        text-decoration: none;
        cursor: pointer;
        margin-left: 40px;
        margin-top:30px;
        font-family: Poppins;
        transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
        white-space: nowrap;
        border: 1px solid   #575757;
    }
    #buttonSK-:hover{
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.853); /* Añade una sombra */
    }


    #textoot{
        font-size: 80px;
    }

